<h2>What is steembay?</h2>
<p>
    steembay is a blockchain based auction system to sell/buy goods and services for cryptocurrency (STEEM/SBD).
</p>

<h2>Why the STEEM blockchain?</h2>
<p>
We have a STEEM platform that is censorship resistant.<br>
We have a currency (STEEM/SBD) that is available all over the world.<br>
We have a transfer speed that is amazing (3 sec. which is faster than anything in the world).<br>
We have an amazing community full of creativity.<br>
</p>

<h2>How to start?</h2>
<p>
    All you need is a STEEM account. You can register at <a href="https://signup.steemit.com/">SIGNUP</a>.
    <br>
    <br>
    To create or bid on auctions you can use the <a href="http://steembay.steemtool.de">steembay UI (beta)</a>. But the steembay UI (beta) is optional because steembay works on the frontend of your choice directly on the STEEM blockchain (without the steembay UI):<br>How to create your own auction? How to bid for an auction?<br>Take a look at the <a href="https://steemit.com/howto/@steembay/steembay-quick-tutorial">tutorial</a>
</p>

<h2>Yout want to participate?</h2>
<p>
    If you are a web designer and/or developer, feel free to participate!<br><br>
    <a href="https://github.com/independis/steembay-ui">steembay UI (beta) on GitHub</a>
</p>
